<div class="main-nav navbar navbar-expand-sm">
  <a class="nav-title navbar-brand" href="/">Three Day Clearcast</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">GitHub</a>
      </li>
    </ul>
  </div>
</div>
