<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>Three Day Clearcast</title>
      <link rel="stylesheet" href="css/bootstrap.min.css"/>
      <link rel="stylesheet" href="stylesheets/style.css"/>
      <script src="jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="/javascripts/geolocate.js"></script>
      <script src="/javascripts/formHandler.js"></script>
    </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <div class="about-content container-fluid w-75">
      <div class="row">
        <h1>About</h1>
      </div>
      <div class="row">
        
      </div>
    </div>
  </body>