<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>Three Day Clearcast</title>
      <link rel="stylesheet" href="css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/stylesheets/style.css"/>
      <script src="jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="/javascripts/geolocate.js"></script>
      <script src="/javascripts/formHandler.js"></script>
    </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <div class="main-content container">
      <div class="form-area">
        <form id="weather-form" action="/" method="POST">
          <label for="twelveAm">12:00 AM</label>
          <input type="checkbox" id="twelveAm" class="hour" name="weatherHours" value="00:00:00">
          <label for="threeAm">3:00 AM</label>
          <input type="checkbox" id="threeAm" class="hour" name="weatherHours" value="03:00:00">
          <label for="sixAm">6:00 AM</label>
          <input type="checkbox" id="sixAm" class="hour" name="weatherHours" value="06:00:00">
          <label for="nineAm">9:00 AM</label>
          <input type="checkbox" id="nineAm" class="hour" name="weatherHours" value="09:00:00">
          <label for="twelvePm">12:00 PM</label>
          <input type="checkbox" id="twelvePm" class="hour" name="weatherHours" value="12:00:00" checked>
          <label for="threePm">3:00 PM</label>
          <input type="checkbox" id="threePm" class="hour" name="weatherHours" value="15:00:00" checked>
          <label for="sixPM">6:00 PM</label>
          <input type="checkbox" id="sixPM" class="hour" name="weatherHours" value="18:00:00" checked>
          <label for="ninePm">9:00 PM</label>
          <input type="checkbox" id="ninePm" class="hour" name="weatherHours" value="21:00:00">
          <br>
          <label for="csFormat">City, State</label>
          <input type="radio" id="csFormat" class="format" name="weatherFormat" value="cs" checked>
          <label for="zFormat">ZIP Code</label>
          <input type="radio" id="zFormat" class="format" name="weatherFormat" value="z">
          <label for="llFormat">Latitude, Longitude</label>
          <input type="radio" id="llFormat" class="format" name="weatherFormat" value="ll">
          <br>
          <input type="text" id="weatherSearch" name="weatherSearch" placeholder="Enter your location here or use the Local button to find the weather nearby">
          <br>
          <input type="submit" id="submitBtn" value="Search">
          <button type="button" id="localBtn">Local</button>
        </form>
      </div>
      <% if (locals.weather) { %>
        <div class="search-results container">
          <h1>Five Day Clear Cast</h1>
          <h3><%= locals.weather.locationName %></h3>
        </div>
      <% } %>
      <% if (locals.error) { %>
        <div class="search-error alert alert-danger col-8 offset-2">
          <h3><%= locals.error.code %></h3>
          <p><%= locals.error.message %></p>
        </div>
      <% } %>
    </div>
  </body>
</html>
