/* General Styling */

body {
  background-color: #566573;
}

a {
  color: #00B7FF;
}

/* Bootstrap Custom Override Styling */

.container {
  font-family: 'Roboto Condensed', sans-serif;
}

.btn {
  font-size: 0.8rem;
}

.btn-block+.btn-block {
  margin: 0;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: orange;
}

.form-group {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.alert {
  font-family: 'Roboto Condensed', sans-serif;
}

/* Navigation */

.main-nav {
  font-family: 'Overpass', sans-serif;
  background-color: #1C2833;
}

.main-nav a {
  font-size: 1.5rem;
}

.nav-title {
  color: white;
}

.nav-title:hover {
  color: white;
}

/* Home Page */

.form-area {
  margin-top: 3%;
  padding: 2.5% 5px;
  background-color: #1C2833;
}

.form-row {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: gray;
}

.form-row + .form-row {
  margin-top: 1.5%;
}

.hours-row:last-child {
  margin-top: 1%;
}

.row-header {
  color: white;
  background-color: #424949;
}

.row-header * {
  margin-bottom: 0;
}

.radio-format {
  margin: 0;
}

.search-btns {
  font-size: 0.85rem;
}

/* Home Page - Error Displays */

.form-error {
  margin: 3% auto;
}

.geo-error {
  margin: 3% auto;
}

.geo-error p {
  margin-bottom: 0;
}

/* Home Page - Results */

.results-area {
  margin: 3% 0;
}

.search-header {
  font-family: 'Overpass', sans-serif;
}

.search-results {
  padding-top: 1%;
  padding-bottom: 2.5%;
  color: white;
  background-color: #1C2833;
}

.display-day, .display-hour {
  background-color: #424949;
}

.day-clear {
  background-color: #1D8348;
}

.day-reconsider {
  background-color: #943126;
}

.hours-listing:last-child {
  border-bottom: 1px solid #dee2e6 !important;
}

/* About Page */

.about-area {
  margin: 3% auto;
  color: white;
}

.about-area a:hover {
  color: orange;
  text-decoration: none;
}

.about-section {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #424949;
}

.about-header {
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Overpass', sans-serif;
  color: #EAEDED;
  background-color: #1C2833;
}

.about-content {
  padding: 2% 0;
}

.about-content p:last-child {
  margin-bottom: 0;
}

/* Error Page */

.error-area {
  margin: 10% auto;
  color: white;
}

.error-section {
  padding-top: 2%;
  padding-bottom: 2%;
}

.error-message p {
  margin-bottom: 0;
}